@charset "utf-8";
/* HTML5 ✰ normalise not full Boilerplate
 * ==|== normalize ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block;}
audio, canvas, video{display:inline-block; *display:inline; *zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}

html{font-size:100%; overflow-y:scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body{margin:0; font-size:13px; line-height:1.231;}
body, button, input, select, textarea{font-family:sans-serif; color:#222;}

::-moz-selection{background:#fe57a1; color:#fff; text-shadow:none;}
::selection{background:#fe57a1; color:#fff; text-shadow:none;}

a{color:#00e;}
a:visited{color:#551a8b;}
a:hover{color:#06e;}
a:focus{outline:thin dotted;}
a:hover, a:active{outline:0;}

abbr[title]{border-bottom:1px dotted;}
b, strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
ins{background:#ff9; color:#000; text-decoration:none;}
mark{background:#ff0; color:#000; font-style:italic; font-weight:bold;}
pre, code, kbd, samp{font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em;}
pre{white-space:pre; white-space:pre-wrap; word-wrap:break-word;}
q{quotes:none;}
q:before, q:after{content:""; content:none;}
small{font-size:85%;}
sub, sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
nav ul, nav ol{list-style:none; list-style-image:none; margin:0; padding:0;}
img{border:0; -ms-interpolation-mode:bicubic; vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}

form{margin:0;}
fieldset{border:0; margin:0; padding:0;}
label{cursor:pointer;}
legend{border:0; *margin-left:-7px; padding:0;}
button, input, select, textarea{font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle;}
button, input{line-height:normal; *overflow:visible;}
table button, table input{*overflow:auto;}
button, input[type="button"], input[type="reset"], input[type="submit"]{cursor:pointer; -webkit-appearance:button;}
input[type="checkbox"], input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner{border:0; padding:0;}
textarea{overflow:auto; vertical-align:top; resize:vertical;}
input:valid, textarea:valid{}
input:invalid, textarea:invalid{background-color:#f0dddd;}

table{border-collapse:collapse; border-spacing:0;}
td{vertical-align:top;}

ul{margin:0;padding:0;list-style:none;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:separate; border-spacing:0;}
caption, th, td{text-align:left; font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
strong{font-weight:bold;}
/*------------------------------Reset style Ends-------------------------------*/

/*-----------------------------------float start-------------------------------*/
.fltrt{float:right;}
.fltlft{float:left;}
.clear{clear:both; font-size:0px; line-height:1px; height:0px}
/*-----------------------------------float ends--------------------------------*/

body{
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height:18px;
	background:#0079c2 url(../images/bodyBg.gif) left top repeat;
}

/*---Common Wrapper Style Starts ----*/

a{
	text-decoration:none;
	color:#0d5b9e;
}
	a:hover {
		text-decoration:underline;
		color:#0d5b9e;
	}
	a img, a:hover img {
		text-decoration:none;
		border:0;
		cursor:pointer;
	}

table,td{
	border:1px solid #D3E6F1;
}
	td{
		padding:5px;
		border-width:0 1px 1px 0
	}
	table{border-width:1px 0 0 1px}

dt{margin-bottom:4px;font-weight:bold;border-bottom:1px solid #0878BB;}
dd{margin-bottom:10px;}

#wrapper{margin:0 auto;width:960px;}
#footer{margin:0 auto; padding:0 0 50px 4px; width:878px; position:relative; top:-15px;}

#wrapper .wrapperMain{ padding:0 20px; width:920px; background:url(../images/containerBgMid.png) left top repeat-y;}
#wrapper .wrapperBtm{width:100%; font-size:1px; line-height:1px; clear:both; background:url(../images/containerBgBtm.png) left top no-repeat; height:36px;}


#header{margin:0 0 10px 0; width:100%; background:url(../images/headerBg.gif) left top repeat-y; border-top:4px solid #01629d; position:relative;z-index:2;}

#body{
	width:100%;
	min-height:200px;
}
h1,h2,h3,h4,h5,h6{margin:0; color:#ffffff; font-weight:normal;}
h1{font-size:24px;line-height:28px;}
h2{font-size:14px; color:#0878BB; line-height:20px;}
h3{font-size:19px; color:#f0b310; line-height:24px;}
h4{font-size:22px; line-height:30px; font-weight:bold; font-family:'Myriad Pro', Verdana, sans-serif;}
h5{font-size:24px; line-height:28px;}
h6{font-size:12px; line-height:16px; font-weight:bold;}
	h1.mainTitle{color:#f0b310;padding:19px 0 0 0;}

fieldset{margin:5px 0;}

.logoTitle h4 a, .logoTitle h4 a:hover{color:#ffffff; text-decoration:none;}
.logoTitle h3 a, .logoTitle h3 a:hover{color:#f0b310; text-decoration:none;}

/*--- header starts ----*/

.headerTopLinks{
	margin:-4px 0 0 0;
	padding:4px 0 0 50px;
	width:325px;
	background:url(../images/topRtNavBg-1.png) left top no-repeat;
	height:17px;
}
	.headerTopLinks li{
		padding:0 10px 0 0;
		float:left;
	}
	.headerTopLinks li a , .headerTopLinks li a:hover ,.headerTopLinks li a img , .headerTopLinks li a:hover img{
		text-decoration:none;
		border:none;
		float:left;
	}

#logo img{
	width:119px;
	position:absolute;
	top:20px;
	left:17px;
	z-index:999;
} 

/*--------------------------------------------------------------------------------------- 
		nav starts
----------------------------------------------------------------------------------------- */
#header .links{
	width:785px;
	margin:0;
	padding-left:135px;
	float:left;
	display:inline-block;
	position:relative;
	z-index:800;

	background:#0979bc;
}
	#header .links a{
		display:block;padding:10px;color:#ffffff;
		text-decoration:none;

		background:#0979bc;
	}
	#header .links > li{
		float:left;
		position:relative;
		z-index:780;
	}
	#header .links > li a:hover{
		color:#FF0000;
		text-decoration:none;
	}
	#header .links li a.active {
		color:#f0b310;
	}

	#header .haschildren ul {
		display:none;
	}
	/* sub-menus */
	#header .links ul{display:block; display:inline;}
	#header .links li ul{
		width:150px;
		margin-top:38px;
		position:absolute;
			left:-10px;
			top:0px;
		line-height:16px; 
		z-index:500;

		/* for IE */ display:none;

		-webkit-box-shadow:2px 2px 4px #000;
		-moz-box-shadow:2px 2px 4px #000;
		box-shadow:2px 2px 4px #000;
	}
	#header .links li:hover ul{display:block;}
	#header .links li ul li{padding:0;}
	#header .links li ul li a{display:block;border-top:1px solid #F0B310;}
		#header .links li ul li a:hover {border-top:1px solid #FF0000;}

	.sublinks li ul.sublinks{display:none !important;}

.logoTitle{
	width:425px;
	height:77px;
	padding:10px 0 0 148px;
}

.searchBlock{width:229px;padding:36px 19px 10px 0;}

	.searchBlock .form-item{
		width:179px;
		margin:0;
		float:left;
	}
	.searchBlock .form-item input.form-text{
		width:189px;
		margin:0;
		padding: 4px 10px;
		border:0;
		color:#666;
	}
		.searchBlock .form-item input.form-text:active{border:0;}

	.searchBlock .form-submit{	
		background:#F0B310 url("../images/searchBtn.png") no-repeat left top;
		border:0;
		cursor:pointer;
		height:23px;
		width:30px;
	}


/* -----------  reCaptcha form styles */

#recaptcha_custom_theme_widget #recaptcha_only_if_image{display:block;}
#recaptcha_custom_theme_widget #recaptcha_response_field{width:300px;}


.homeBanner{
	margin:18px auto 14px;
	padding:0 4px 8px 0;
	width:876px;
	height:335px;
	background:url(../images/bannerBg.jpg) left top no-repeat;
	overflow:hidden;
	position: relative;
	z-index:1;
}
 
	.homeBanner .views-field-field-banner-fid{
		width:634px;
		height:100%;
		float:left;

		background: url(../images/logo.png) no-repeat center center;
	}
	.homeBanner .views-field-title, .homeBanner .views-field-body{
		width:205px;
		margin-bottom:-11px;
		padding-right:20px;
		float:right;

		color:#fcfcfc;
	}
	.homeBanner .views-field-title h1{
		padding-top:20px;
		font-size:30px;
		line-height:18px;

		color:#f2f2f2;
	}
	.homeBanner .titles{
		width: 100%;
		margin-left: .5em;
		display: block;
		float: left;
		overflow:hidden;
	}

	.homeBanner .titles::before{ content:"\002D "; }


/* ------------------------ MIAN BANNER HERE --------------*/
#main_banner {position:relative; z-index:1; width:634px; height:335px; float:left; overflow:hidden;}
#main_banner .main_banner_inner{ position:absolute; right:0; top:0;  width:634px; height:335px;}

#main_banner .notice{
	height:252px;
	margin: 20px 10px 20px 20px;
	padding:20px;
	border:1px solid #C4A831;
}
	#main_banner h2, .WelcomeBanner h2{
		font-size:30px;
		line-height:18px;
		padding:0 0 9px 0;
		color:#f2f2f2 !important;
	}

	#main_banner p{
		color:#fff;
	}

#portfolio{width:634px; height:335px;z-index:1;}
	#portfolio li{width:634px; height:335px;}

#slide_nav{position:absolute; left:22px; bottom:0px; z-index:5000; height:28px;}
	ul#slide_nav li{list-style:none; float:left;margin:0 7px 0 0; height:7px; width:8px; background:url(../images/sliderBullet.png) left bottom no-repeat; font-size:0; line-height:0; text-decoration:none;}
	#slide_nav li:hover{cursor:pointer; cursor:pointer; background:url(../images/sliderBullet.png) left top no-repeat;} 

ul#slide_nav li#button_selected, ul#slide_nav li#button_selected:hover{background:url(../images/sliderBullet.png) left top no-repeat;}

ul#portfolio-desc{  text-align:left;   padding:3px;   border:0px solid;   list-style:none; width:100%;}
ul#portfolio-desc li{width:100%; float:left; top:0; left:0;}
ul#portfolio-desc li .desc01{padding:0 32px 0 0; color:#000401; font-size:25px; line-height:26px; width:561px; float:right;}
ul#portfolio-desc li .desc{height:260px;}
ul#portfolio-desc li h5{text-align:center;width:100%;background:#097abe;background:rgba(9,122,190,0.3);border-radius:2px; } 
ul#portfolio-desc li h5 cufon{ overflow:hidden; padding:0 0 2px 0;}
ul#portfolio-desc li h3{ float:right;clear:both; font-size:18px; color:#f0b310; line-height:18px;} 


/*  Featured Content  Nivo Slider  */

.view-id-feature_slider{
	overflow:hidden;
	position: relative;
		z-index:1;
}
.view-id-feature_slider .view-content{
	height:350px; /* max sliders height to not fill page with JS turned off */
	margin-top:18px;
	padding:0;
}

/*--- WelcomeBanner starts ----*/
#body .WelcomeBanner{
	width:205px;
	padding:20px 20px 0 0;

}

.WelcomeBanner .descBlock{
	color:#fcfcfc;
	line-height:15px;
}
.WelcomeBanner .desc{padding:5px 0 10px 0;}
.WelcomeBanner .rtImg{padding:0 0 0 8px;}
/*--- WelcomeBanner ends ----*/

#sportsHallBanner{
	width: 881px;
	height: 350px;
	padding-top:65px;
	position:absolute;
		top:0;
		left:0;
	background: white;
}
#sportsHallBanner img{
	float:left
}

#sportsHallBanner img#sportsHallBannerOne{
	margin-top:14px;
}
#sportsHallBanner img#sportsHallBannerTwo{

}
#sportsHallBanner img#sportsHallBannerThree{
	margin-top:16px;
}


.readMoreBtn {font-size:12px; color:#c4a831; line-height:16px; text-decoration:none;}
.readMoreBtn::after{
	content:' \2192 ';
	font-size:150%;
}
.readMoreBtn:hover{text-decoration:underline; color:#c4a831;}

.findMoreBtn , .findMoreBtn:hover{padding:6px 10px 0 7px; height:19px; border:2px solid #eebe3f; background:url(../images/yellowBtnBg.gif) left top repeat-x; font-size:14px; color:#ffffff; line-height:12px; text-decoration:none;}
.findMoreBtn span, .findMoreBtn:hover span{display:block;padding:0 12px 0 0; float:left; background:url(../images/rtWhtArw.png) right top no-repeat; width:121px; text-decoration:none;}
.findMoreBtn:hover, .findMoreBtn:hover span{text-decoration:underline;}

.cmnContainer{
	width:880px;
	margin: 0 auto;
}
	.cmnContainer p{margin:1em 0;}
	.cmnContainer ul{margin:1em 0;padding:0 0 0 2em;list-style:circle;}
	.cmnContainer  li{margin:.5em 0;}

/*..... Custome scroll starts .....*/
.scrollContent{
	float:left;
	width:100%;
	height:221px;
	padding:12px 0 10px 0;
	overflow:auto;
	background:#006cae url(../images/scrollPanBg.gif) right top repeat-y;
	color:#f2f2f2;
}
#front.scrollContent{
	width:291px;
}
a.jScrollArrowUp {background:url(../images/scrollArwTop.gif) repeat-x 0 0; z-index:1; position:absolute; text-indent:-2000px; display:block; height:20px; overflow:hidden; top:0; right:0}
a.jScrollArrowUp:hover{text-decoration:none;}
a.jScrollArrowDown{background:url(../images/scrollArwBtm.gif) repeat-x 0 0; z-index:1; position:absolute; text-indent:-2000px; bottom:0px; display:block; height:20px; overflow:hidden; right:0}
a.jScrollArrowDown:hover{ text-decoration:none;}
a.jScrollActiveArrowButton:hover{text-decoration:none;}
.holder{	margin:10px; float:left}
.jScrollPaneContainer{;z-index:1; position:relative; overflow:hidden; float:left;}
.jScrollPaneTrack{position:absolute; background:url(../images/scrollArwMid.gif) repeat-y 0 0; height:100%; top:0; cursor:pointer; right:0; width:30px;}
.jScrollPaneDrag{position:absolute; background:url(../images/scrollArwMidScroll.gif) repeat-y center 0; overflow:hidden; cursor:pointer; width:30px;}
.jScrollPaneDragTop{position:absolute; overflow:hidden; top:0; left:0}
.jScrollPaneDragBottom{position:absolute; bottom:0; overflow:hidden; left:0}
q.jScrollArrowUp:hover{text-decoration:none;}

.scrollContent .scrollMid{padding:0 10px 0 16px}
.scrollContent .scrollMid h1{padding:0 0 8px 0;}

.whatsNewList{display:block;width:253px;}
.whatsNewList li{padding:0 0 15px 0; width:100%; float:left; color:#ffffff; line-height:16px;}
/*..... Custome scroll ends .....*/

.view-whats-new .views-row{
	margin:1em 0;
}
.view-whats-new .views-field-title{
	font-size:14px;
}


/*--- yellowBlock starts ----*/
.yellowBlock{
	height:220px;
	width:555px;
	padding:10px 0;
	border:2px solid #eebe3f;
	background:#d09b0e url(../images/yellowBg.gif) left top repeat-x;
}
	.yellowBlock p{
		margin: .5em 0;
		padding:5px 0;
	}

.blockSml{padding:0 10px 0 16px; width:156px; font-size:12px; color:#333333; line-height:15px; border-right:1px solid #ffcc66; height:100%; position:relative;word-wrap: break-word;}
.blockSmlBorderNone{ border:none; float:right; padding-right:12px;}

.blockSml h1{font-size:24px; color:#ffffff; line-height:22px; padding:0 0 5px 0;}
.blockSml .descBlock{  color:#fcfcfc; line-height:15px; width:207px;}
.blockSml .rtImg a , .blockSml .rtImg a:hover{ text-decoration:none; border:none;}
.blockSml .imtTxt{padding:10px 0 14px 0;}


.readMoreRedBtn {display:block; padding:0 0 0 17px; background:url(../images/rtRedArw.gif) 1px 5px no-repeat; font-size:12px; color:#c41230; line-height:16px; text-decoration:none; position:absolute;bottom:0;}
.readMoreRedBtn:hover{text-decoration:underline; color:#c41230;}
/*--- yellowBlock ends ----*/

h2.mainTItle{
	padding:17px 0 0;
	font-size:24px;
	line-height:28px;
	color:#0079c2;
} 

/*--- body ends ----*/

/*--- preFooterLinks starts ----*/
ul.partnerList{padding:10px 0 11px 25px;}
ul.partnerList li{padding:0 12px 0 0;float:left;}
.partnerList li a , .partnerList li a:hover , .partnerList li a img , .partnerList li a:hover img{display:block;text-decoration:none;border:none;}


.preFooterTitle{
	height:21px;
	padding:15px 25px;
	background:#0168a6;
	position:relative;
}

	.preFooterTitle h1{
		margin:0;
		padding:0 10px 0 0;
		line-height:16px;
		background:url(../images/btmOrgArw.gif)	right 6px no-repeat;
	}

.footerDesign img{position:absolute;top:-24px;right:0;}

.preFooterLinks{padding:0 2px 0 0; width:146px; position:relative;z-index:1;}
.preFooterLinks li{width:100%; font-size:10px; color:#ffffff; line-height:12px;  float:left;}
.preFooterLinks li.title h2{
	font-size:16px;
	color:#ffffff;
	line-height:20px;
	padding:0 0 13px 0;
}
.preFooterLinks li a{ color:#ffffff; text-decoration:none;}
.preFooterLinks li a:hover{color:#ffffff; text-decoration:underline;}


.mainFooter{
	padding:30px 0 20px 25px;
	background:#0079c2;
	overflow:hidden;
}
.mainFooter li{
	list-style:none;
	list-style-image:none;
}

/*--- preFooterLinks ends ----*/



/*--- footer starts ----*/
.footerLt{width:356px; font-size:10px; color:#ffffff; line-height:14px;}
.footerLt a{color:#ffffff; text-decoration:none;}
.footerLt a:hover{color:#ffffff; text-decoration:underline;}

.footerLinks li{padding:0 10px 0 8px; float:left; background:url(../images/footerNavDivider.gif) right 4px no-repeat; font-size:10px; color:#ffffff; line-height:14px;} 
.footerLinks li.lstLink{ padding:0 0 0 8px; background:none;} 

.footerLinks li a{ color:#ffffff; text-decoration:none;}
.footerLinks li a:hover{color:#ffffff; text-decoration:underline;}
/*--- footer ends ----*/



/*--- inner page style starts ----*/


.region{
	overflow:hidden;
	margin: 0 0 18px 0;
}

.ltSidebar{width:160px;}
.region-sidebar-first,
.region-sidebar-first2{float:none;overflow: visible;}

.rtContainer{
	width:700px;
	padding:10px 0;
}
.fullContainer{
	padding:10px 0 0;
	width:100%;
}
.rtContainer p{
	margin:1em 0;
	line-height:1.7em;
}

.mainBanner{padding:0 0 20px 0; width:634px;}
.mainBanner img{width:634px;}
h5.contentTitle{
	font-size:30px;
	color:#0878bb;
	line-height:36px;
}

.menu-name-primary-links{
	color:#017ac4;
	padding:10px 20px 38px 0;
	overflow:hidden;

}
	.menu-name-primary-links ul{
	padding:12px 0 38px;
	width:100%;
	color:#017ac4;
	overflow:hidden;
	}
	.menu-name-primary-links li{width:100%;padding:0;margin:0;float:left;list-style:none !important;}
	.menu-name-primary-links li a{display:block; padding:4px 0 5px;width:100%; float:left; color:#017ac4; text-decoration:none;border-bottom:1px solid #d3e6f1;}
	.menu-name-primary-links li a:hover,.menu-name-primary-links .active-trail{text-decoration:none; color:#f0b310;}

	ul.menu li{margin:0;}
/* ------------------------------------------------------------------------------------------
		View Stylings
   ------------------------------------------------------------------------------------------ */
.views-field-title label.views-label-title{display:none;}
.views-field-body label.views-label-body{display:none;}
.views-field-title a, .views-field-title a:hover{ 
	color:#FFFFFF;
	font-weight:bold;
	line-height:16px;
	text-decoration:none;
}
.view-content .views-row{line-height:16px;padding-bottom:15px;}


.view-vacancy-list .views-field-title a{
	font-size:19px;
	color:#f0b310;
	line-height:24px;
	font-weight:normal;
}
	.view-vacancy-list .views-field-title a:hover{
		text-decoration:underline;
	}

#sportsHall .views-field-title a, #sportsHall .views-field-title a:hover, #newMedia .views-field-title a, #newMedia .views-field-title a:hover{ 
	font-size: 26px;
	color: #0878BB;
	line-height: 30px;
	font-weight:normal;
	text-decoration:none;
}
#sportsHall .views-field-title a:hover, #newMedia .views-field-title a:hover{ 
	font-weight:600;
}

/* ------------------------------------------------------------------------------------------
		Block Stylings
   ------------------------------------------------------------------------------------------ */
.downloadBlock{
	width:140px;
	margin:20px auto;
	padding:8px 10px 24px;
	position:relative;

	color:#fcfcfc;
	background:#f0b310;
}
 
	.downloadBlock h2{color:#fff;line-height:22px;padding:0 0 12px 0;}
	.downloadBlock img{position:absolute;top:-20px;right:-20px;}

	.downloadBlock .imtTxt{padding:10px 0 14px 0;}

/*Attachments block from webFM module*/
.block-webfm{
	width:;
	margin:20px auto;
	padding:8px 10px 24px;

	color:#fcfcfc;
	background:#f0b310;
}
	.block-webfm h2{color:#fff;line-height:22px;padding:0 0 12px 0;}
	.block-webfm table,
	.block-webfm tr,
	.block-webfm td{border:none;background:none;}
	.webfm-attach-list thead{display: none;}

.readMoreBtnCmn{
	display:block;
	padding:0 0 0 17px;
	font-size:12px;
	color:#c41230;
	line-height:18px;
	text-decoration:none;

	background:url(../images/rtWhtArw.png) 1px 3px no-repeat;
}
.readMoreBtnCmn:hover{text-decoration:underline;color:#c41230;}

div.error{margin:0 0 8px 0;}

.region .block-views h2.title{display:none;}
.view-content{padding-left:5px;}

.field-field-images{overflow:0;}
	.field-field-images a{display:block;position:relative;}
	.field-field-images a:hover{z-index:90;
		-webkit-box-shadow:0 0 10px #f1b310; 
		-moz-box-shadow: 0 0 10px #f1b310; 
		box-shadow:0 0 10px #f1b310;}
	.field-field-images .field-item{float:left;line-height:0;}/* Duplicated to solve field name field_images/image between dev and live versions. */
	.field-field-image .field-item{float:left;line-height:0;}/* Duplicated to solve field name field_images/image between dev and live versions. */

html.js fieldset.collapsed{
	height:auto;
}

.footerLinks .links{margin:0;} 
.footerLinks .links li{padding:0 10px 0 8px; float:left; background:url(../images/footerNavDivider.gif) right 4px no-repeat;} 
.footerLinks .links li.last{ padding:0 0 0 8px; background:none;} 


#waterwheel-carousel-default{
	width:876px;
	height:220px;
	margin-left:2px;
	font-size:14px;
	background-image:url(../images/cover_bg.jpg);
	position:relative;
	z-index:1;
	clear:both;
	background-repeat:repeat;
	background-position:left top;
}
	.carousel-images img{
		visibility:hidden;
		cursor:pointer;
	}
	 .carousel-controls a{
		background:#D09B0E url(../images/yellowBg.gif) left top repeat-x;
		border:2px solid #EEBE3F;
		color:#FFFFFF;
		font-size:50px;
		height:100%;
		line-height:218px;
		margin:-2px 0 0 -2px;
		position:absolute;
		text-decoration: none;
		z-index:100;
	}
	 .carousel-prev a{
		border-right:0;
	}


	.carousel-next a{
		right:-2px;
		border-left:0;
	}

/* -----------------------------------------------------------------------------------------------------------
		DropDown Login by J. Bennett
-------------------------------------------------------------------------------------------------------------- */

#dropdown{
	width:238px;
	height:auto;
	padding:21px 2px 10px 22px;
	position:absolute;
	top:0px;
	right:0px;
	z-index:2;
	background:none repeat scroll 0% 0% rgb(2, 98, 158);
	border-bottom-left-radius:20px;
}
	/* position divs on top of each other, color to dropdown background*/
	#dropdown #negative-corner-color, #dropdown #negative-corner-cover{
		width:40px;
		height:40px;
		position:absolute;
		top:17px;/*Match .headerTopLinks height+padding:;*/
		left:-40px;
		background:#02629e;
	}
	/* color overlay to container background*/
	#dropdown #negative-corner-cover{
		background:#0074ba;
		border-top-right-radius:20px;
	}
	#dropdown input, #dropdown a.button{
		border:none;
		padding:2px 4px;
		margin:4px 0px 2px;
	}
	#dropdown input[type="submit"]{
		color:#fff;
		background:#f1b310;
		cursor:pointer;
	}
	#dropdown a.button{
		width:210px;
		display:block;
		text-align:center;
		color:#fff;
		background:#0074ba;
	}
	#dropdown input[type="submit"]:hover{
		text-decoration:underline;
	}

#cmnBanner{
	max-height:150px;
}
	#cmnBanner img{
		height:100%;
		margin-bottom:-20px;
	}


.GCSEresults{
	margin-bottom:10px;
	padding:10px;
	border:1px solid #c51230;
}
/* Hiding the "Posted by XYZ on this date, Taxonomy terms" */
.meta{display:none;}

div.view:hover .views-admin-links ul{
	width:180px;
	margin:-.5em 0 0;
	z-index:999;
	background:#fff;
}

.fc-content{
	position:relative;
	z-index:1;
}

/* Test in IE for bugs !!!*/
.pane-content img{
	max-width:100%;
}
.pane-content input{
	max-width:100%;
}